@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-attachment:fixed;
	background-size: cover;
	background-position: center;
	
}

.nav{
	color:#000000;
	text-decoration: none;
	text-size:20px;
	font-weight: bold;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

